@using System.Security.Claims
@model Wishler.ViewModels.ProfileViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
}

@section AddStyles
{
    <link rel="stylesheet" href="~/css/profile.css">
}

@section AddToHeader {
    <div class="header_btn">
        <p>
            <strong>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </strong>
        </p>
    </div>
    <div class="header_btn">
        <p>
            <strong>
                <a asp-action="Index" asp-controller="Boards">Boards</a>
            </strong>
        </p>
    </div>
    <div class="header_btn">
        <p>
            <strong>
                <a asp-controller="Friends" asp-action="Index">Friends</a>
            </strong>
        </p>
    </div>
    <div class="header_btn">
        <p>
            <strong>
                <a asp-controller="Profile" asp-action="Index">Profile</a>
            </strong>
        </p>
    </div>
}

@{
    var avatars = new List<string>
    {
        "icon0.png",
        "icon1.png",
        "icon2.png",
        "icon3.png",
        "icon4.png",
        "icon5.png",
        "icon6.png",
        "icon7.png",
        "icon8.png"
    };
}

@section ChangeAvatar
{
    <img class="profile_picture" src="~/pictures/Users_icons/@avatars[Model.NewProfile.AvatarId]" alt="">
}

@section ChangeAvatar2
{
    <img class="profile_picture" src="~/pictures/Users_icons/@avatars[Model.NewProfile.AvatarId]" alt="">
}

@section ChangeName
{
    <p>@Model.NewProfile.Name</p>
}

<div class="main">
    <div class="shadow"></div>
    <div class="wrapper__user-info">
        <img src="~/pictures/Users_icons/@avatars[Model.NewProfile.AvatarId]" alt="">
        <div class="user-info">
            <div class="user-info__row">
                <p class="key">Name:</p>
                <p class="value">@Model.NewProfile.Name</p>
            </div>
            <div class="user-info__row">
                <p class="key">Email:</p>
                <p class="value">@User.FindFirstValue(ClaimTypes.Email)</p>
            </div>
        </div>
        <button class="change-info-button active">
            <img src="~/pictures/Profile/edit.png" alt="">
            <p>Change info</p>
        </button>
        <form class="change-info-form" asp-action="Index" method="post">
            <div>
                <label asp-for="NewProfile.Name">Name</label>
                <input asp-for="NewProfile.Name" type="text" value="@Model.NewProfile.Name">
                <input asp-for="NewProfile.AvatarId" id="avatar_id" type="hidden" value="0">
            </div>
            <div class="avatars-images">
                <img id="1" src="~/pictures/Users_icons/icon1.png" alt="">
                <img id="2" src="~/pictures/Users_icons/icon2.png" alt="">
                <img id="3" src="~/pictures/Users_icons/icon3.png" alt="">
                <img id="4" src="~/pictures/Users_icons/icon4.png" alt="">
                <img id="5" src="~/pictures/Users_icons/icon5.png" alt="">
                <img id="6" src="~/pictures/Users_icons/icon6.png" alt="">
                <img id="7" src="~/pictures/Users_icons/icon7.png" alt="">
                <img id="8" src="~/pictures/Users_icons/icon8.png" alt="">
            </div>
            <div class="buttons">
                <button class="create-btn" type="submit">Apply</button>
                <button class="cancel-btn">Cancel</button>
            </div>
        </form>
    </div>
    <a asp-action="Index" asp-controller="Boards">
        <div class="create-board">
            <img src="~/pictures/starfall.jpg" alt="">
            <p>+ Create new board</p>
        </div>
    </a>
    <a asp-action="Index" asp-controller="Friends">
        <div class="add-friend single-block">
            <img src="~/pictures/Profile/add-user.png" alt="">
            <p>+ Add new friend</p>
        </div>
    </a>
    <a asp-action="Index" asp-controller="Boards" class="new-group">
        <div class="single-block">
            <img src="~/pictures/Profile/people.png" alt="">
            <p>+ Create new group</p>
        </div>
    </a>
    <div class="logo-block">
        <p>
            Make a wish with <span>Wishler</span>
        </p>
    </div>
    <a class="logout" asp-action="Logout" asp-controller="Account">
        <div class="single-block">
            <img src="~/pictures/Profile/logout.png" alt="">
            <p>Log out</p>
        </div>
    </a>
    <div class="user-statistics">
        <p>
            <strong>Boards created</strong> @Model.BoardsCreatedAmount
        </p>
        <p>
            <strong>Groups participated</strong> @Model.GroupsParticipatedAmount
        </p>
        <p>
            <strong>Friends added</strong> @Model.FriendsAddedAmount
        </p>
    </div>
</div>

@section AddScripts
{
    <script src="~/js/profile.js"></script>
}