@using System.Security.Claims
@model Wishler.ViewModels.GroupViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Groups";
}

@section AddStyles{
    <link rel="stylesheet" href="~/css/group.css">
}

@section AddToHeader {
    <div class="header_btn">
        <p>
            <strong>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </strong>
        </p>
    </div>
    <div class="header_btn">
        <p>
            <strong>
                <a asp-action="Index" asp-controller="Boards">Boards</a>
            </strong>
        </p>
    </div>
    <div class="header_btn">
        <p>
            <strong>
                <a asp-controller="Friends" asp-action="Index">Friends</a>
            </strong>
        </p>
    </div>
}

@{
    var avatars = new List<string>
    {
        "icon0.png",
        "icon1.png",
        "icon2.png",
        "icon3.png",
        "icon4.png",
        "icon5.png",
        "icon6.png",
        "icon7.png",
        "icon8.png"
    };
}

<div class="wrapper">
    <div class="group-members">
        @{
            var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            var participant = Model.GroupParticipants.First(x => x.UserId == userId);
            var participantId = participant.Id;
            var ownerId = Model.GroupParticipants.First(y => y.IsOwner).UserId;
            var owner = Model.UsersInGroup.First(x => x.Id == ownerId);
            var isUserOwner = userId == ownerId;
        }
        <div class="member">
            <img class="member__avatar" src="~/pictures/Users_icons/@avatars[owner.AvatarId]" alt="">
            <div class="member__info">
                <p class="member__email">
                    <span>Email:</span> @owner.Email
                </p>
                <p class="member__name">
                    <span>Name:</span> @owner.Name
                </p>
            </div>
            <img class="member__crown-img" src="~/pictures/Group/crown.png" alt="">
        </div>
        @foreach (var member in Model.UsersInGroup.Where(x => x.Id != ownerId).ToArray())
        {
            <div class="member">
                <img class="member__avatar" src="~/pictures/Users_icons/@avatars[member.AvatarId]" alt="">
                <div class="member__info">
                    <p class="member__email">
                        <span>Email:</span> @member.Email
                    </p>
                    <p class="member__name">
                        <span>Name:</span> @member.Name
                    </p>
                </div>
                @if (isUserOwner)
                {
                    @if (!Model.IsStarted)
                    {
                        <a href="/group/kick/@Model.GroupParticipants.First(x => x.UserId == member.Id).Id" class="member__delete-btn">Delete</a>
                    }
                    else
                    {
                        <img class="member__crown-img non-owner" src="~/pictures/Group/crown.png" alt="">
                    }
                }
                else
                {
                    @if (int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) == member.Id)
                    {
                        <img class="member__its-you" src="~/pictures/Group/navigation.png" alt="">
                    }
                    else
                    {
                        <img class="member__crown-img non-owner" src="~/pictures/Group/crown.png" alt="">
                    }
                }
            </div>
        }
        @if (isUserOwner)
        {
            @if (!Model.IsStarted)
            {
                @if (Model.PossibleMembers.Length >= 1)
                {
                    <button class="add-new-member">+ Add new member</button>
                }
                else
                {
                    <button class="add-new-friend">
                        <p>+ Add new member</p>
                        <span>(all of your friends already in this group)</span>
                    </button>
                }
                <button id="@Model.GroupId" class="start event">
                    Start Event
                </button>
            }
            else
            {
                <button id="@Model.GroupId" class="cancel event">
                    Cancel Event
                </button>
            }
        }
    </div>
    <div class="wish">
        <form>
            @if (!Model.IsStarted)
            {
                <label>Enter your wish</label>
            }
            else
            {
                <label><span style="color:#5678ff;font-weight:600;">@participant.OtherName</span>'s wish</label>
            }
            @if (!Model.IsStarted)
            {
                <textarea name="" id="@participantId">@participant.Wish</textarea>
                <button type="button">Save</button>
            }
            else
            {
                <textarea readonly="readonly" name="" id="@participantId">@participant.OtherWish</textarea>
            }
        </form>
    </div>
    @if (isUserOwner)
    {
        <a href="/group/delete/@Model.GroupId" class="delete">Delete group</a>
    }
    else
    {
        @if (!Model.IsStarted)
        {
            <a href="/group/kick/@participantId" class="delete">Leave group</a>
        }
        else
        {
            <div class="delete">You can't leave untill event is ended</div>
        }
    }
</div>

@section AddScripts{
    <script src="~/js/group.js"></script>
}