@model Wishler.ViewModels.BoardsViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Boards";
}

@{
    var backgroundsList = new List<string>
    {
        "bg1.jpg",
        "bg2.jpg",
        "bg3.jpg",
        "bg4.jpg",
        "bg5.jpg",
        "bg6.jpg"
    };
}

@section AddStyles{
    <link rel="stylesheet" href="~/css/boards.css">
}

@section AddToHeader {
    <div class="header_btn">
        <p>
            <strong>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </strong>
        </p>
    </div>
    <div class="header_btn">
        <p>
            <strong>
                <a asp-action="Index" asp-controller="Boards">Boards</a>
            </strong>
        </p>
    </div>
    <div class="header_btn">
        <p>
            <strong>
                <a asp-controller="Friends" asp-action="Index">Friends</a>
            </strong>
        </p>
    </div>
}

<div class="shadow"></div>

<div class="wrapper">
    <div class="groups">
        @foreach (var group in Model.Groups)
        {
            <a class="groups__item" href="/group/@group.Id" id="@group.Id">@group.Name</a>
        }

        @if (Model.Friends.Length >= 3)
        {
            <button class="groups__create-new active">+ Create new group</button>
            <form class="new-group-form" asp-action="Create" asp-controller="Group">
                <div class="input-section">
                    <label asp-for="NewGroup.Name">Name</label>
                    <input asp-for="NewGroup.Name" type="text">
                </div>
                <input class="invited-members" asp-for="NewGroup.Members" type="hidden" value="">
                <div class="possible-members">
                    @foreach (var friend in Model.Friends)
                    {
                        <div class="member">
                            <p>@friend.FriendEmail</p>
                            <button id="@friend.FriendEmail" type="button" class="member__action invite">Invite</button>
                        </div>
                    }
                </div>
                <div class="buttons">
                    <button type="submit" class="create">Create</button>
                    <button type="button" class="cancel">Cancel</button>
                </div>
            </form>
        }
        else
        {
            <p>You must have 3 or more friends to interact with groups</p>
        }
    </div>
    <div class="boards_wrapper">
        <h1>Your boards</h1>
        <div class="boards">
            @foreach (var board in Model.Boards)
            {
                <div class="board">
                    <img class="board_image" src="~/pictures/Boards/@backgroundsList[int.Parse(board.BackgroundId) - 1]" alt="">
                    <p class="board_name">@board.Name</p>
                    <div class="buttons">
                        <a href="/board/@board.Id" class="open">Open</a>
                        <a href="/boards/delete/@board.Id" class="delete">Delete</a>
                    </div>
                </div>
            }
            <button class="new-board">
                <p>+ Create new board</p>
            </button>
            <form class="new-board-form" asp-controller="Boards" asp-action="Create">
                <label asp-for="Board.Name"></label>
                <input asp-for="Board.Name" type="text">
                <input asp-for="Board.UserId" type="hidden" value="@Model.UserId">
                <input id="ps_input" asp-for="Board.BackgroundId" type="hidden" value="0">
                <div class="new-board__backgrounds">
                    <img id="1" src="~/pictures/Boards/bg1.jpg" alt="">
                    <img id="2" src="~/pictures/Boards/bg2.jpg" alt="">
                    <img id="3" src="~/pictures/Boards/bg3.jpg" alt="">
                    <img id="4" src="~/pictures/Boards/bg4.jpg" alt="">
                    <img id="5" src="~/pictures/Boards/bg5.jpg" alt="">
                    <img id="6" src="~/pictures/Boards/bg6.jpg" alt="">
                </div>
                <div class="buttons">
                    <button class="create-btn" type="submit">Submit</button>
                    <button class="cancel-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section AddScripts{
    <script src="~/js/boards.js"></script>
    <script src="~/js/create_new_group.js"></script>
}